html {
	scroll-behavior: smooth;
}

#banner {
	background-image: url(img/animatedlogo.gif);
	background-size: cover;
	background-position-x: 22vw;
	display: flex;
	padding-top: 14%;
	padding-bottom: 14%;
}

#banner-text {
	text-align: left;
	width: 45%;
}

#banner-text button {
	font-size: 1.4rem;
	margin-top: 5%;
	margin-bottom: 5%;
}

#socials img {
	margin-right: 30px;
	width: 50px;
}

#desc {
	display: block;
	font-size: large;
	margin: 0;
}

body {
	font-family: 'Inter', sans-serif;
	background-color: #fcfcff;
	margin-left: 5%;
	margin-right: 5%;
}

h1 {
	font-weight: normal;
	font-size: 3rem;
	margin-bottom: 10px;
}

a {
  text-decoration: none;
}

.main-button {
	background-color: transparent;
	outline: none;
	border: 2px solid #000000;
	border-radius: 15px;
	cursor: pointer;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.2rem;
	transition-duration: 0.3s;
}

.main-button:hover {
	background-color: #bc5b6b9c;
}

.event {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-bottom: 5%;
}

.event p, h3, button {
	margin: 3px;
}

.event-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 5%;
}

#past-link {
	margin: auto;
  display: block;
}

#gallery {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
	margin-bottom: 25px;
}

.gallery-section {
	flex: 33%;
  max-width: 32%;
  padding: 0px 4px;
	margin-left: auto;
	margin-right: auto;
}

.gallery-section img {
	margin-top: 8px;
  vertical-align: middle;
	width: 100%;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header img {
	width: 60px;
}

nav a {
	font-size: large;
	padding-left: 20px;
	color: #000000;
}

.home-link {
	display: flex;
	flex-direction: row;
	align-items: center;
}

footer {
	background-color: #fcfcff;
	padding: 20px;
	margin-top: 30px;
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

footer .copyright {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.copyright img {
	width: 30px;
	height: fit-content;
	padding-left: 10px;
}

@media (max-width: 1000px) {
	#banner {
		background-position-x: 5vw;
	}
}

@media (max-width: 850px) {
	#banner-text {
		width: 55%;
	}

	#banner {
		background-position-x: 1vw;
	}

	#socials img {
		width: 40px;
	}

	.gallery-section {
		flex: 80%;
		max-width: 80%;
	}
	
}

@media (max-width: 650px) {
	header img {
		width: 50px;
	}

	#banner {
		padding-top: 5%;
		padding-bottom: 5%;
		background-position-x: 15vw;
	}

	#banner-text {
		width: 100%;
	}

	#desc {
		display: none;
	}

	.event {
		width: 100%;
	}

	.gallery-section {
		flex: 100%;
		max-width: 100%;
	}

	footer {
		flex-wrap: wrap;
	}
}

@media (max-width: 450px) {
	#banner {
		background-position-x: -15vw;
	}
}