html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	background-color: hsl(327, 73%, 96%);
	text-align: center;
	line-height: 160%;
}

* {
    -webkit-tap-highlight-color: transparent;
}

img {
	pointer-events: none;
}

.top, h1, h2 {
	font-family: 'Zen Maru Gothic', sans-serif;
}

.top {
	position: fixed;
	display: flex;
	justify-content: center;
	color: hsl(0, 0%, 30%);
	font-size: 18px;
	width: 100%;
	height: 50px;
	background-color: white;
	box-shadow: 0px -5px 10px 10px hsla(0, 0%, 0%, 0.1);
	z-index: 10;
}

.inner {
	width: 1200px;
	max-width: 100%;
}

.top .inner, .socials {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top .home-link {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top .logo {
	height: 32px;
	image-rendering: crisp-edges;
	margin-left: 15px;
	margin-right: 10px;
}

@media (max-width: 650px) {
	.top .title {
		display: none;
	}
}

.top .links {
	display: flex;
	margin-left: auto;
}

@media (max-width: 650px) {
	.top .links {
		flex-grow: 1;
	}
}

@media (max-width: 650px) {
	.top .links {
		margin-left: initial;
	}
}

.top .links * {
	margin-left: 10px;
	margin-right: 10px;
}

@media (max-width: 650px) {
	.top .links * {
		flex-grow: 1;
	}
}

.top .links > a, .home-link {
	transition: 200ms;
}

@media (hover: hover) {
	.top .links > a:hover,  .home-link:hover {
		color: hsl(327, 73%, 62%);
	}
}

a {
	color: inherit;
	text-decoration: none;
	user-select: none;
}

.text-link {
	color: hsl(327, 73%, 62%);
	transition: 200ms;
}

.text-link:hover {
	color: hsl(327, 73%, 42%);
}

.top .links .button {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 4px;
	border-radius: 1000px;
	background-color: hsl(327, 73%, 62%);
	transition: 200ms;
	color: white;
	margin: 0;
}

.top .links .button:hover {
	background-color: hsl(327, 73%, 47%);
}

.banner {
	width: 100%;
	height: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	background-image: linear-gradient(
		hsla(0, 0%, 0%, 0) 0%,
		hsla(0, 0%, 0%, 0.6) 40%
	), url("background.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 15px;
	padding-top: calc(15px + 50px);
	box-sizing: border-box;
}

.banner p {
	color: hsl(0, 0%, 80%);
}

h1 {
	font-size: 45px;
	margin: 0;
	line-height: 140%;
}

@media (max-width: 650px) {
	h1 {
		font-size: 30px;
	}
}

h2 {
	font-size: 40px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.social {
	height: 48px;
	margin: 7px;
	transform: scale(1);
	transition: 200ms;
	pointer-events: all;
}

.social:hover {
	transform: scale(1.1);
}

.discord {
	position: relative;
	top: 5px;
	height: 54px;
}

.linkedin {
	position: relative;
	top: 1px;
	height: 43px;
}

.events {
	display: flex;
	justify-content: center;
	padding: 10px;
	flex-wrap: wrap;
}

.events a, .events a:active {
	width: 382px;
	height: 200px;
	cursor: pointer;
	margin: 10px;
	border-radius: 15px;
	overflow: hidden;
	transform: scale(1);
	box-shadow: 0px 5px 10px 0px hsla(0, 0%, 0%, 0.2);
	transition: 200ms;
}

@media (hover: hover) {
	.events a:hover {
		transform: scale(1.03);
		box-shadow: 0px 10px 15px 5px hsla(0, 0%, 0%, 0.15);
	}
}

.events a *, .events a *:active {
	width: 100%;
	height: 100%;
}

.soon {
	display: flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	box-sizing: border-box;
	color: white;
	background-image: url("soon.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 20px;
	height: 100%;
}

.section {
	position: relative;
	top: -50px;
}

.footer {
	display: flex;
	justify-content: center;
	background-color: white;
	padding: 20px;
	margin-top: 30px;
}

.footer .inner {
	display: flex;
	align-items: center;
}

.footer .inner * {
	display: inline-block;
	flex-grow: 1;
}

.footer .inner .left {
	text-align: left;
}

.footer .inner .right {
	text-align: right;
}

@media (max-width: 650px) {
	.footer .inner {
		flex-wrap: wrap;
	}

	.footer .inner * {
		text-align: center !important;
	}
}
